<form action="/{{appName}}/{{#if isEdit}}edit{{else}}add{{/if}}" method="get">
    <section class="test--component---RMLbQ">
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="App Name">
                <input id="appName" type="text" name="appName" placeholder="App Name" {{#if isEdit}}value={{appName}}{{/if}}>
            </h4>
        </header>
    </section>
    <section class="test--component---RMLbQ">
        {{#if isEdit}}
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="Old Secret">
                <input id="appOldSecret" type="text" name="oldSecret" placeholder="Old Secret" value="{{app.secret}}">
            </h4>
        </header>
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="New Secret">
                <input id="appSecret" type="text" name="secret" placeholder="New Secret">
            </h4>
        </header>
        {{else}}
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="Secret">
                <input id="appSecret" type="text" name="secret" placeholder="Secret">
            </h4>
        </header>
        {{/if}}
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="PreHook">
                <input id="appPrehook" type="text" name="prehook" placeholder="PreHook" value="{{app.prehook}}">
            </h4>
        </header>
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="PostHook">
                <input id="appPosthook" type="text" name="posthook" placeholder="PostHook" value="{{app.posthook}}">
            </h4>
        </header>
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="cwd">
                <input id="appCwd" type="text" name="cwd" placeholder="Current Working Directory" value="{{app.cwd}}">
            </h4>
        </header>
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="Debug">
                &nbsp;&nbsp;
                <input id="appDebug" type="checkbox" name="debug" {{#if app.debug}}checked{{/if}}> &nbsp;&nbsp;&nbsp;&nbsp;Debug
            </h4>
        </header>
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="Bisect">
                &nbsp;&nbsp;
                <input id="appBisect" type="checkbox" name="bisect" {{#if app.bisect}}checked{{/if}}> &nbsp;&nbsp;&nbsp;&nbsp;Bisect
            </h4>
        </header>
    </section>
    <section class="test--component---RMLbQ">
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="testCmd">
                <input id="appTestCmd" type="text" name="testCmd" placeholder="Test Command" value="{{app.tests.testCmd}}">
            </h4>
        </header>
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="githubToken">
                <input id="appGithubToken" type="text" name="githubToken" placeholder="GitHub Token" value="{{app.tests.githubToken}}">
            </h4>
        </header>
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="privateConfig">
                <input id="appPrivateConfig" type="text" name="privateConfig" placeholder="Private Config Path" value="{{app.tests.privateConfig}}">
            </h4>
        </header>
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="deployAnyway">
                &nbsp;&nbsp;
                <input id="appDeployAnyway" type="checkbox" name="deployAnyway" {{#if app.tests.deployAnyway}}checked{{/if}}> &nbsp;&nbsp;&nbsp;&nbsp;Deploy Anyway
            </h4>
        </header>
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="lastGoodCommit">
                <input id="appLastGoodCommit" type="text" name="lastGoodCommit" placeholder="Last Good Commit" value="{{app.tests.lastGoodCommit}}">
            </h4>
        </header>
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="slackChannel">
                <input id="appSlackChannel" type="text" name="slackChannel" placeholder="Slack Channel" value="{{app.slackChannel}}">
            </h4>
        </header>
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="branches">
                <input id="appBranches" type="text" name="branches" placeholder="Branches" value="{{join app.branches}}">
            </h4>
        </header>
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="Pm2 App">
                <input id="appPm2App" type="text" name="pm2App" placeholder="Pm2 App" value="{{app.pm2App}}">
            </h4>
        </header>
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="Env Variables">
                <textarea id="appEnvVars" cols="40" rows="3" name="envVars" placeholder="Env Variables(key=value in each line)">{{envVars app.envVars}}</textarea>
            </h4>
        </header>
    </section>
    <section class="test--component---RMLbQ">
        <header class="test--header---186ZB">
            <h4 class="test--title---278p8" title="Full Report">
                <input type="submit" value="Submit">
            </h4>
        </header>
    </section>
</form>