{{!-- mochawesome-report-generator | MIT License | https://github.com/adamgruber/mochawesome-report-generator --}} {{!--
mochawesome v3.0.2 | MIT License | https://github.com/adamgruber/mochawesome --}}
<html>

<head>
	<link href="/assets/app.css" media="all" rel="stylesheet" type="text/css">
	<link href="/assets/dir.css" media="all" rel="stylesheet" type="text/css">
	<title>Tests for app {{appName}}</title>
</head>

<body>
	<div id=report>
		<main>
			<div class="navbar--component---2ZZWk z-depth-1">
				<div class="navbar--report-info-cnt---3YmqH">
					<a href="/">
						<button class="navbar--menu-button---2yldF open-menu">
							<i class="material-icons md-18 test--icon---3-EYW">&#xE317;</i>
						</button>
					</a>
					<h1 class="navbar--report-title---2yl5e" title="{{appName}}">
						<a href="/{{appName}}">
							<b>{{appName}}</b>
						</a>
					</h1>
				</div>
				<div class="navbar--pct-bar---1gzOu">
					<span class="navbar--pct-bar-segment---3SKvk navbar--pass---2A0P1" style="width: 100%;" title="100.0% Passing"></span>
					<span class="navbar--pct-bar-segment---3SKvk navbar--fail---2K0uE" style="width: 0%;" title="0.0% Failing"></span>
				</div>
			</div>
			<div id="details" class="details container">
				<div class="suite--list-main---39CaH">
					{{#each (tests db appName page)}}
					<section class="suite--component---1WFoy suite--no-suites---2EVhf has-tests has-passed">
						<header class="suite--header---3CWtn">
							<h3 class="suite--title---CsLhu">
								<a href="{{this.commit.url}}">
									{{this.commit.hash}}
								</a>
							</h3>
							<h6 class="suite--filename---3LR5s">{{this.commit.message}} - {{this.commit.author}}</h6>
							<ul class="suite-summary--component---1-m65">
								<li class="suite-summary--summary-item---eDFZD suite-summary--duration---1c853">
									<i class="material-icons md-18 suite-summary--icon---2dVpU">&#xE425;</i>
									<span class="">{{this.report.duration}}ms</span>
								</li>
								<li class="suite-summary--summary-item---eDFZD suite-summary--tests---DvmS6">
									<i class="material-icons md-18 suite-summary--icon---2dVpU">&#xE85D;</i>{{this.report.tests}}</li>
								<li class="suite-summary--summary-item---eDFZD suite-summary--passed---171Lb">
									<i class="material-icons md-18 suite-summary--icon---2dVpU">&#xE876;</i>{{this.report.passes}}</li>
								<li class="suite-summary--summary-item---eDFZD suite-summary--failed---3NDrR">
									<i class="material-icons md-18 suite-summary--icon---2dVpU">&#xE5CD;</i>{{this.report.failures}}</li>
								<li class="suite-summary--summary-item---eDFZD suite-summary--pending---14ai0">
									<i class="material-icons md-18 suite-summary--icon---2dVpU">&#xE034;</i>{{this.report.pending}}</li>
								<li class="suite-summary--summary-item---eDFZD suite-summary--tests---DvmS6">
									<i class="material-icons md-18 suite-summary--icon---2dVpU">&#xE047;</i>{{this.report.skipped}}</li>
								<li class="suite-summary--summary-item---eDFZD suite-summary--tests---DvmS6 reload" id="{{this.commit.hash}}">
									<i class="material-icons md-18 suite-summary--icon---2dVpU">&#xE5D5;</i>Redo</li>
							</ul>
						</header>
						<div class="suite--body---2Ql-3 {{#if this.err.stderr}}clickable-error{{/if}}">
							<div>
								<section class="test--component---RMLbQ test--passed---1IkMe">
									<header class="test--header---186ZB">
										{{#if this.pass}}
										<i class="material-icons md-18 test--icon---3-EYW test--pass---3BGXV">&#xE876;</i>
										{{else}}
										<i class="material-icons md-18 test--icon---3-EYW test--fail---2MHvz">&#xE5CD;</i>
										{{/if}}
										<h4 class="test--title---278p8" title="Full Report">
											<a href="/{{../appName}}/{{this.commit.hash}}">
												<b>Click here for Full Report</b>
											</a>
										</h4>
										<div class="test--info---1upSW">
											<span class="test--duration---16Zhh">{{this.commit.time}}</span>
											<i class="material-icons md-18 test--duration-icon---2Bpxk fast">&#xE425;</i>
										</div>
									</header>
									{{#if this.err.stderr}}
									<div class="test--body---1Ytwa">
										<pre class="test--code-snippet---anpV7 javascript hljs">
											<code>
												{{this.err.stderr}}
											</code>
										</pre>
									</div>
									{{/if}}
								</section>
							</div>
						</div>
					</section>
					{{/each}} {{#unless (tests db appName page)}}
					<section class="suite--component---1WFoy suite--no-suites---2EVhf has-tests has-passed">
						<header class="suite--header---3CWtn">
							<h3 class="suite--title---CsLhu">{{msg}}</h3>
						</header>
					</section>
					{{/unless}} {{#unless noHook}}
					<section class="suite--component---1WFoy suite--no-suites---2EVhf has-tests has-passed">
						<header id="manual-hook" class="suite--header---3CWtn">
							<h3 class="suite--title---CsLhu">Start Manual Hook</h3>
						</header>
						<div id="manual-hook-form" class="suite--body---2Ql-3" style="display: none;">
							<form action="/{{appName}}" method="get">
								<section class="test--component---RMLbQ">
									<header class="test--header---186ZB">
										<h4 class="test--title---278p8" title="Secret">
											<input id="secret" type="text" name="secret" placeholder="Secret">
										</h4>
									</header>
								</section>
								<section class="test--component---RMLbQ">
									<header class="test--header---186ZB">
										<h4 class="test--title---278p8" title="Commit Hash">
											<input id="manualCommit" type="text" name="commit" placeholder="Commit (Empty if latest)"> &nbsp;&nbsp;&nbsp;&nbsp;(Bisect will not be done if older commit)
										</h4>
									</header>
								</section>
								<section class="test--component---RMLbQ">
									<header class="test--header---186ZB">
										<h4 class="test--title---278p8" title="Send Slack">
											&nbsp;&nbsp;
											<input type="checkbox" name="slack"> &nbsp;&nbsp;&nbsp;&nbsp;Send Slack
										</h4>
									</header>
								</section>
								<section class="test--component---RMLbQ">
									<header class="test--header---186ZB">
										<h4 class="test--title---278p8" title="Deploy">
											&nbsp;&nbsp;
											<input type="checkbox" name="deploy"> &nbsp;&nbsp;&nbsp;&nbsp; Deploy (Won't if older commit and still dependent on tests passing and deployAnyway
											Conf)
										</h4>
									</header>
								</section>
								<section class="test--component---RMLbQ">
									<header class="test--header---186ZB">
										<h4 class="test--title---278p8" title="Full Report">
											<input type="submit" value="Submit">
										</h4>
									</header>
								</section>
							</div>
						</div>
					</section>
					{{/unless}}
				</div>
			</div>
			{{#if page}}
			<footer class="footer--component---3Cile">
				<div class="pagination">
						{{#if prevPage}}
						<a href="{{pageLink prevPage query path}}">
							<i id="previousPage" class="material-icons md-48">&#xE045;</i>
						</a>
						{{/if}}
						<span>{{page}}</span>
						<a href="{{pageLink nextPage query path}}">
							<i id="nextPage" class="material-icons md-48">&#xE044;</i>
						</a>
				</div>
			</footer>
			{{/if}}
		</main>
	</div>
</body>
<script>
	const tests = document.getElementsByClassName('clickable-error');
	for (let i = 0; i < tests.length; i++) {
		tests[i].addEventListener('click', function () {
			this.getElementsByClassName('test--component---RMLbQ')[0].classList.toggle('test--expanded---1lye7');
		});
	}
	const reloads = document.getElementsByClassName('reload');
	for (let i = 0; i < reloads.length; i++) {
		reloads[i].addEventListener('click', function () {
			const commit = document.getElementById('manualCommit');
			commit.value = this.id;
			commit.scrollIntoView({ behavior: 'smooth' });
		})
	}
	document.getElementById('manual-hook').addEventListener('click', function() {
		const div = document.getElementById('manual-hook-form');
		if (div.style.display === 'none') div.style.display = 'block';
		else div.style.display = 'none';
	});
</script>

</html>